/.env.local
/.env.local.php
/.env.*.local
/.web-server-pid
log
*.log
*.tlog

var/elasticsearch/*
var/redis/*

.idea/TFM.iml
.idea/deployment.xml
.idea/misc.xml
.idea/modules.xml
.idea/php.xml
.idea/vagrant.xml
.idea/vcs.xml
.idea/workspace.xml
.idea/inspectionProfiles/
etc/php/
ops/eliminar mysql57.txt


/var/mysql/performance_schema/

/var/mysql/performance_schema/
/var/mysql/mysql/
/var/mysql/sys/
/var/mysql/sys/
/var/mysql/auto.cnf
/var/mysql/ca.pem
/var/mysql/ca-key.pem
/var/mysql/client-cert.pem
/var/mysql/client-key.pem
/var/mysql/ib_buffer_pool
/var/mysql/ib_logfile0
/var/mysql/ib_logfile1
/var/mysql/ibdata1
/var/mysql/ibtmp1
/var/mysql/private_key.pem
/var/mysql/public_key.pem
/var/mysql/server-cert.pem
/var/mysql/server-key.pem
/var/mysql/ibtmp1

/var/mysql/sys/
/var/mysql/auto.cnf
/var/mysql/ca.pem
/var/mysql/ca-key.pem
/var/mysql/client-cert.pem
/var/mysql/client-key.pem
/var/mysql/ib_buffer_pool
/var/mysql/ib_logfile0
/var/mysql/ib_logfile1
/var/mysql/ibdata1
/var/mysql/ibtmp1
/var/mysql/private_key.pem
/var/mysql/public_key.pem
/var/mysql/server-cert.pem
/var/mysql/server-key.pem
/documentacion/MEMORIA ALFRED.docx
/documentacion/~$moria David.docx
/documentacion/MEMORIA MARC.docx
/var/mysql/meteosalle/citiesZip1.frm
/var/mysql/meteosalle/citiesZip1.ibd
.idea/*
/.idea/*
/documentacion/~$exo 1 API midellware.docx
